* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@mixin flexIt($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

html {
	font-size: 10px;
}

body {
	width: 100vw;
	height: 100vh;
	background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	font-family: "Barlow Semi Condensed", sans-serif;
}
header {
	border: 0.35rem solid hsl(217, 16%, 45%);
	position: relative;
	@include flexIt(row, space-between, center);
	color: white;
	margin: 3rem auto 10rem auto;
	width: 85%;
	padding: 10px;
	border-radius: 8px;
	.title {
		@include flexIt(column, center, flex-start);
		font-size: 2rem;
		padding-left: 0.75rem;
		text-transform: uppercase;
	}
	.score-box {
		color: black;
		background: white;
		@include flexIt(column, center, center);
		width: 10rem;
		padding: 1rem;
		border-radius: 8px;
		.score-label {
			font-size: 1.5rem;
			color: hsl(229, 64%, 46%);
		}
		#score {
			font-size: 5rem;
		}
	}
}

#arena {
	background-image: url(images/bg-triangle.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin: 0 auto;
	background-size: 75%;
	@include flexIt(column, center, center);
	padding: 5rem 2rem;
	display: none;
	button {
		border-radius: 50%;
		padding: 3rem;
		img {
			width: 4rem;
		}
	}
	#topRow {
		@include flexIt(row, space-between, center);
		width: 95%;
		position: relative;
		bottom: 3rem;
	}
	#bottomRow {
		@include flexIt(row, center, center);
	}
	#paper {
		border: 13px solid hsl(230, 89%, 62%);
	}
	#rock {
		border: 13px solid hsl(349, 71%, 52%);
	}
	#scissors {
		border: 13px solid hsl(39, 89%, 49%);
	}
}

#gameResult {
	@include flexIt(row, space-between, center);
	border: 1px solid red;
	width: 80%;
	margin: 0 auto;
	img {
		background: #ffffff;
		border-radius: 50%;
		padding: 3rem;
		width: 12rem;
		min-height: 12rem;
		min-height: 12rem;
		border: 10px solid hsl(349, 71%, 52%);
	}
	p {
		color: white;
		text-align: center;
		font-size: 1.5rem;
		margin-top: 1.25rem;
	}
}

.rules-box {
	text-align: center;
	margin: 5rem auto;
}

.rules-btn {
	width: 9rem;
	height: 3rem;
	text-transform: uppercase;
	background: none;
	border: 2px solid hsl(217, 16%, 45%);
	border-radius: 8px;
	color: hsl(217, 16%, 45%);
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
