* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#1f3756, #141539);
  font-family: "Barlow Semi Condensed", sans-serif;
}

header {
  border: 0.35rem solid #606e85;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: 3rem auto 10rem auto;
  width: 85%;
  padding: 10px;
  border-radius: 8px;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 2rem;
  padding-left: 0.75rem;
  text-transform: uppercase;
}

header .score-box {
  color: black;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  padding: 1rem;
  border-radius: 8px;
}

header .score-box .score-label {
  font-size: 1.5rem;
  color: #2a46c0;
}

header .score-box #score {
  font-size: 5rem;
}

#arena {
  background-image: url(images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  background-size: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 2rem;
  display: none;
}

#arena button {
  border-radius: 50%;
  padding: 3rem;
}

#arena button img {
  width: 4rem;
}

#arena #topRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  position: relative;
  bottom: 3rem;
}

#arena #bottomRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#arena #paper {
  border: 13px solid #4865f4;
}

#arena #rock {
  border: 13px solid #dc2e4e;
}

#arena #scissors {
  border: 13px solid #ec9e0e;
}

#gameResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
  width: 80%;
  margin: 0 auto;
}

#gameResult img {
  background: #ffffff;
  border-radius: 50%;
  padding: 3rem;
  width: 12rem;
  min-height: 12rem;
  min-height: 12rem;
  border: 10px solid #dc2e4e;
}

#gameResult p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1.25rem;
}

.rules-box {
  text-align: center;
  margin: 5rem auto;
}

.rules-btn {
  width: 9rem;
  height: 3rem;
  text-transform: uppercase;
  background: none;
  border: 2px solid #606e85;
  border-radius: 8px;
  color: #606e85;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */